.skillsContainer{
    display: flex;
    flex-wrap: wrap;
}

.skillWrapper{
    width: 100%;
}

.skillTitle{
    white-space: nowrap;
    margin-right: 1rem;
}

.paper{
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 50px;
    padding: 10px;
}